* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}


:root {
  --safe-top: env(safe-area-inset-top, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

.pt-safe {
  padding-top: max(10px, var(--safe-top));
}

.pb-safe {
  padding-bottom: max(12px, var(--safe-bottom));
}

.pb-safe-nav {
  padding-bottom: calc(6rem + var(--safe-bottom));
}


.analysis-view,
.analysis-view * {
  -webkit-tap-highlight-color: transparent;
}

.analysis-view .recharts-wrapper:focus,
.analysis-view .recharts-wrapper:focus-visible,
.analysis-view .recharts-surface:focus,
.analysis-view .recharts-layer:focus,
.analysis-view .recharts-sector:focus,
.analysis-view svg:focus,
.analysis-view svg *:focus {
  outline: none !important;
}


.recharts-wrapper,
.recharts-surface {
  -webkit-tap-highlight-color: transparent;
}

.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus,
.recharts-layer:focus,
.recharts-sector:focus,
.recharts-dot:focus,
.recharts-rectangle:focus {
  outline: none !important;
}

